<div class="col-md-6">
	<ul class="list-group">
		<li id="backer-count" class="list-group-item"> Backers: <span><%= @project.pledges.count %></span> </li>			
		<li id="total-pledged" class="list-group-item"> Pledged: <span><%= number_to_currency(@pledged) %></span> </li>
		<li id="goal" class="list-group-item"> Goal: <%= number_to_currency(@goal) %> </li>
		<li class="list-group-item">
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100" style=" width: <%= @progress %>%">
					<%= number_to_percentage @progress, precision: 0 %>
				</div>
			</div>
		</li>
	</ul>
</div>

<div class="col-md-6">
	<p id="time-left"><%= ((@project.end_date - Time.zone.now).to_i)/1.day + 1 %> days to go!</p>
	<p>End Date: <%= @project.end_date.strftime("%B %d, %Y") %> </p>
	<p>Project started: <%= @project.start_date.strftime("%B %d, %Y") %></p>
	<p>Description: <%= @project.description %> </p>			
</div>