
<br>

<h4><%= page_entries_info @projects %></h4>
<% @projects.each do |project| %>
	<div class="well">
		<h2> <%= link_to project.title, project_path(project)	 %> </h2>
		<p> Goal: <%= number_to_currency(project.goal) %> </p>
		<p> Days to go: <%= ((project.end_date - Time.zone.now).to_i)/1.day + 1 %> </p>
		<p> Ending on: <%= project.end_date.strftime("%b %d, %Y") %> </p>
		<p> Description: <%= project.description %> </p>
	</div>
<% end %>

<%= paginate @projects, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered" %>
