
<div class="page-header">
	<h1><%= @project.title %> <small>by: <%= "#{@project.owner.first_name} #{@project.owner.last_name}"%> </small></h1>
</div>
<div>
	<% @pledged = @project.pledges.pluck(:amount).sum.to_f %>
	<% @goal = @project.goal.to_f %>
	<% @progress = @pledged/@goal*100%>
	
	<p> Days to go: <%= ((@project.end_date - Time.zone.now).to_i)/1.day + 1 %> </p>
	<p> End Date: <%= @project.end_date.strftime("%B %d, %Y") %> </p>
	<p> Backers: <%= @project.pledges.count %> </p>			
	<p> Pledged: <%= number_to_currency(@project.pledges.pluck(:amount).sum) %> </p>
	<p> Goal: <%= number_to_currency(@project.goal) %> </p>
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @progress %>%">
			<span class="sr-only"><%= @progress %>% Complete</span>
		</div>
	</div>
	<p> Description: <%= @project.description %> </p>			
	<p> Project started: <%= @project.start_date.strftime("%B %d, %Y") %></p>
	
	


</div>

<div>
	<h3>Rewards</h3>
		<% @project.rewards.each do |reward| %>
		<div class="well well-sm">
			<h5> Pledge <%= number_to_currency(reward.price) %> or more </h5>
			<p> Description: <%= reward.description %> </p>
			<p>	Quantity: <%= reward.qty %> </p>
			<p> Backers: <%= reward.pledges.count %> </p>
			<p> Remaining: <%= reward.qty - reward.pledges.count %> </p>
		</div>
		</br>
	<% end %>
</div>

