<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	  <!-- Latest compiled and minified CSS -->
</head>

<body>

	<nav class="navbar navbar-default">	
		<button type="button" class="btn btn-default navbar-btn"> <%= link_to("Signup", "/signup") %> </button>
		<button type="button" class="btn btn-default navbar-btn"> <%= link_to("Login", "/login") %> </button>
		<button type="button" class="btn btn-default navbar-btn"> <%= link_to("Logout", :logout, method: :post ) %> </button>
	</nav>	
	
	<div class="container">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><%= link_to("Projects", "/projects") %></li>
		  <li role="presentation"><%= link_to("My Profile", user_path(current_user.id)) %></li>
		</ul>
		<%= yield %>		
	</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
